.flexbox-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
#logoImage {
  max-width: 20vw;
}
.bikeArticle {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
.bikeCaption {
  font-size: 16px;
  display: flex;
  text-align: center;
  color: white;
  margin: 1.5rem;
  line-height: 1.5;
}
.imageCap {
  margin-top: 2rem;
  margin-left: 20rem;
  color: white;
  font-size: 0.95rem;
}
.carousel {
  margin: 2rem;
  position: relative;
  height: 50vw;
  text-align: center;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  object-fit: fill;
}
.slide > img {
  width: 45vw;
  height: 70vh;
  margin: 3rem;
}
.slide[data-active] {
  opacity: 1;
}
.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  color: #edef08;
  cursor: pointer;
  border-radius: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-button:hover,
.carousel-button:focus {
  color: white;
}
.prev {
  left: 0rem;
}
.next {
  right: 0rem;
}

.headerList {
  text-align: center;
}
#bikes {
  background-color: black;
}
#bikesTitle {
  color: white;
  font-size: 15vw;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 3rem;
}
#footer {
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 800px) {
  .slide > img {
    width: 59vw;
    height: 28vh;
  }
}
