.body {
  background-color: black;
  color: white;
}
.dark-mode {
  background-color: white;
  color: black;
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}
.flexbox-container2 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.flexbox-container3 {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.flexbox-container4 {
  align-self: center;
  justify-content: space-around;
  display: flex;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.headerList {
  text-align: center;
  margin: 2rem;
}
.header {
  display: flex;
}
.body {
  /* display: flex; */
}
.socialBck {
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px; */
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 5px;
}
.socialList {
  margin: 2rem;
}
#socialBtn {
  justify-content: space-around;
  padding-bottom: 22px;
  font-size: 32px;
  color: #234ed2;
}
#text1 {
  padding-right: 2rem;
  padding-top: 2.5rem;
  font-size: 2rem;
}
#text2 {
  padding-right: 2rem;
  font-size: 2rem;
}
#darkBtn {
  float: right;
  border: none;
  padding: 6px 15px;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  background-color: #234ed2;
  color: #edef08;
  border-radius: 22px;
}
.mySlides {
  flex-basis: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  width: 70vw;
  display: none;
  padding-bottom: 2rem;
}
.button {
  border: none;
  color: #234ed2;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  background-color: #234ed2;
  border-radius: 22px;
}
.btnLink {
  text-decoration: none;
  color: #edef08;
}
.missionTitle {
  padding-top: 3rem;
  padding-left: 2rem;
  font-size: 35px;
  color: #234ed2;
}
.missionText {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
}
.resourceTitle {
  text-decoration: underline;
  padding-left: 2rem;
  color: #234ed2;
}
.resourceList {
  padding-bottom: 3rem;
}
.resourceItem {
  line-height: 2;
}
.resourceLink {
  color: #234ed2;
}
#footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}
