.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* #logoImage {
  min-width: 180px;
  max-width: 255px;
} */
.headerList {
  text-align: center;
  margin: 2rem;
}
#games {
  background-color: black;
}
#gamesTitle {
  color: white;
  padding-right: 2rem;
  padding-top: 2.5rem;
  font-size: 7rem;
  font-weight: bolder;
  margin-right: 6rem;
  font-family: sans-serif;
  align-self: center;
}
#footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}
