.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#catImage {
  max-width: 80vw;
  margin: 5px;
}
.headerList {
  text-align: center;
  margin-top: 2rem;
}
#games {
  background-color: black;
}
#gamesTitle {
  color: white;
  font-size: 15vw;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 3rem;
}
#footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}
