.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#catImage {
  /* min-width: 250px; */
  max-width: 80vw;
  margin: 5px;
}
.headerList {
  text-align: center;
  margin-top: 2rem;
}
#games {
  background-color: black;
}
#gamesTitle {
  color: white;
  /* padding-right: 2rem;
  padding-top: 2.5rem; */
  font-size: 6rem;
  font-weight: bolder;
  /* margin-right: 6rem; */
  font-family: sans-serif;
  align-self: center;
  margin: 2rem;
}
#footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}
