.body {
  background-color: black;
  color: white;
}
.dark-mode {
  background-color: white;
  color: black;
}
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexbox-container2 {
  display: flex;
  flex-wrap: wrap;
}
.flexbox-container3 {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.flexbox-container4 {
  align-self: center;
  justify-content: space-around;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom-style: solid;
  box-shadow: 10px 30px 35px 0px rgba(3, 102, 214, 0.3);
}
.banner {
  background: #f0ea1b;
}
.banner__content {
  padding: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.banner__text {
  color: black;
  font-size: 20px;
  flex-grow: 1;
  font-family: "Quicksand", sans-serif;
}
.banner__close {
  background: none;
  border: none;
  cursor: pointer;
}
#logoImage {
  min-width: 180px;
  max-width: 255px;
}
.headerList {
  text-align: center;
  margin: 2rem;
}
.header {
  display: flex;
}
.socialBck {
  font-size: 4px;
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 10px 25px 2px;
}
.socialList {
  margin: 2rem;
}
#socialBtn {
  justify-content: space-around;
  padding-bottom: 22px;
  font-size: 20px;
  color: #234ed2;
}
#text1 {
  padding-right: 2rem;
  padding-top: 2.5rem;
  font-size: 2rem;
}
#text2 {
  padding-right: 2rem;
  font-size: 2rem;
}
.darkDivide {
  padding-top: 1.5rem;
  padding-right: 1.8rem;
  padding-bottom: 3rem;
}
#darkBtn {
  float: right;
  border: none;
  padding: 6px 15px;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  background-color: #234ed2;
  color: #edef08;
  border-radius: 22px;
}
.slideshow-container {
  padding-bottom: 2rem;
}
.mySlides {
  width: 70vw;
  display: none;
  border-style: solid;
  border-color: white;
}
.button {
  padding-top: 2rem;
  border: none;
  color: #234ed2;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  background-color: #234ed2;
  border-radius: 22px;
}
.btnLink {
  text-decoration: none;
  color: #edef08;
}
.missionTitle {
  padding-top: 3rem;
  padding-left: 2rem;
  font-size: 35px;
  color: #234ed2;
}
.missionText {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.5;
  font-style: italic;
}
.resourceTitle {
  text-decoration: underline;
  padding-left: 2rem;
  color: #234ed2;
}
.resourceList {
  padding-bottom: 3rem;
}
.resourceItem {
  line-height: 2;
}
.resourceLink {
  color: #234ed2;
}
#footer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 15px;
  text-align: center;
}
/* Mobile Response */
@media screen and (max-width: 450px) {
  #logoImage {
    width: 180px;
  }
  .mySlides {
    width: 360px;
  }
  .banner__text {
    font-size: 14px;
  }
}
