#body {
  flex: content;
}
#header {
  display: flex;
  flex-wrap: wrap;
}
#logoImage {
  padding-left: 35px;
}
.headerList {
  text-align: center;
  flex: content;
  margin: auto;
  padding-left: 20vw;
  padding-top: 5px;
  padding-bottom: 5px;
}
#socialBtn {
  flex: content;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 25px;
  font-size: 25px;
  color: #234ed2;
}

#text1 {
  font-size: 2vw;
  flex-wrap: wrap;
}
#text2 {
  font-size: 2vw;
  flex-wrap: wrap;
}
.slideshow-container {
  padding-left: 5px;
  flex: content;
  display: flex;
}
.mySlides {
  display: flex;
  border-top: solid black;
}
.button {
  flex: content;
  border: none;
  color: #234ed2;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 16vw;
  cursor: pointer;
  background-color: #234ed2;
  border-radius: 22px;
}
.btnLink {
  text-decoration: none;
  color: #edef08;
}
.navLink {
  display: flex;
  flex-wrap: wrap;
  font-size: 3.8vw;
  justify-content: center;
  text-decoration: none;
  padding-left: 25px;
  padding-top: 25px;
}
.missionTitle {
  padding: 20px;
  font-size: 35px;
  color: #234ed2;
}
.mission {
  flex: content;
  display: flex;
  flex-wrap: wrap;
}
.missionText {
  display: flex;
  font-size: 1.5vw;
  justify-content: center;
  padding-left: 45px;
  line-height: 2;
  font-style: italic;
}
.toolList {
  padding: 25px;
}
.tool {
  font-size: 10px;
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  padding-top: 15px;
  padding-left: 25px;
  color: #234ed2;
}
.mySlides {
  display: none;
}
